<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Set the character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensure proper rendering and touch zooming on mobile devices -->
    <title>Edit Claim - Vortex Claims System</title> <!-- Title of the document -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to external CSS for styling -->
</head>
<body>
    <header>
        <!-- Logo and navigation -->
        <img src="/images/VortexITLogo.png" alt="Vortex Logo" class="logo"> <!-- Company logo -->
        <h1>Vortex Claims System</h1> <!-- Main heading -->
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li> <!-- Link to Dashboard -->
                <li class="Claims">
                    <a href="javascript:void(0)" class="dropbtn">Claims</a> <!-- Dropdown trigger -->
                    <div class="dropdown-content">
                        <a href="/claims/search">Search Claims</a> <!-- Link to Search Claims -->
                        <a href="/claims/add">Add Claim</a> <!-- Link to Add Claim -->
                    </div>
                </li>
                <li><a href="/reports">Reports</a></li> <!-- Link to Reports -->
                <li class="Settings">
                    <a href="javascript:void(0)" class="dropbtn">Settings</a> <!-- Dropdown trigger -->
                    <div class="dropdown-content">
                        <a href="/user-management">User Management</a> <!-- Link to User Management -->
                        <a href="/email-templates">Email Templates</a> <!-- Link to Email Templates -->
                    </div>
                </li>
                <li><a href="/help">Help</a></li> <!-- Link to Help -->
                <li><a href="/logout">Logout</a></li> <!-- Link to Logout -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Edit Claim</h2> <!-- Section heading -->

            <form action="/claims/<%= claim._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="tab">
                    <button type="button" class="tablinks" onclick="openTab(event, 'CustomerInfo')" id="defaultOpen">Customer Information</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'VehicleInfo')">Vehicle Information</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'ClaimDetails')">Claim Details</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'InsuranceInfo')">Insurance Information</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'ThirdPartyInfo')">Third Party Information</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'RentalPoliceInfo')">Rental & Police Information</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'AdditionalCoverage')">Additional Coverage</button>
                    <button type="button" class="tablinks" onclick="openTab(event, 'FileUploads')">File Uploads</button>
                </div>

                <!-- Tab content for Customer Information -->
                <div id="CustomerInfo" class="tabcontent">
                    <div class="claim-info">
                        <label for="customerName">Customer Name:</label>
                        <input type="text" id="customerName" name="customerName" value="<%= claim.customerName %>" required>

                        <label for="customerNumber">Customer Number:</label>
                        <input type="text" id="customerNumber" name="customerNumber" value="<%= claim.customerNumber %>">

                        <label for="customerEmail">Customer Email:</label>
                        <input type="email" id="customerEmail" name="customerEmail" value="<%= claim.customerEmail %>">

                        <label for="customerAddress">Customer Address:</label>
                        <input type="text" id="customerAddress" name="customerAddress" value="<%= claim.customerAddress %>">

                        <label for="customerDriversLicense">Customer Drivers License:</label>
                        <input type="text" id="customerDriversLicense" name="customerDriversLicense" value="<%= claim.customerDriversLicense %>">
                    </div>
                </div>

                <!-- Tab content for Vehicle Information -->
                <div id="VehicleInfo" class="tabcontent">
                    <div class="claim-info">
                        <label for="carMake">Car Make:</label>
                        <input type="text" id="carMake" name="carMake" value="<%= claim.carMake %>">

                        <label for="carModel">Car Model:</label>
                        <input type="text" id="carModel" name="carModel" value="<%= claim.carModel %>">

                        <label for="carYear">Car Year:</label>
                        <input type="text" id="carYear" name="carYear" value="<%= claim.carYear %>">

                        <label for="carColor">Car Color:</label>
                        <input type="text" id="carColor" name="carColor" value="<%= claim.carColor %>">

                        <label for="carVIN">Car VIN:</label>
                        <input type="text" id="carVIN" name="carVIN" value="<%= claim.carVIN %>">

                        <label for="vehicleOdometer">Vehicle Odometer:</label>
                        <input type="number" id="vehicleOdometer" name="vehicleOdometer" value="<%= claim.vehicleOdometer %>">

                        <label for="accidentDate">Accident Date:</label>
                        <input type="date" id="accidentDate" name="accidentDate" value="<%= claim.accidentDate ? new Date(claim.accidentDate).toISOString().split('T')[0] : '' %>">
                    </div>
                </div>

                <!-- Tab content for Claim Details -->
                <div id="ClaimDetails" class="tabcontent">
                    <div class="claim-info">
                        <label for="mva">MVA:</label>
                        <input type="text" id="mva" name="mva" value="<%= claim.mva %>" required>

                        <label for="raNumber">RA Number:</label>
                        <input type="text" id="raNumber" name="raNumber" value="<%= claim.raNumber %>">

                        <label for="damagesTotal">Damages Total:</label>
                        <input type="text" id="damagesTotal" name="damagesTotal" value="<%= claim.damagesTotal %>">

                        <label for="billable">Billable:</label>
                        <select id="billable" name="billable">
                            <option value="true" <%= claim.billable ? 'selected' : '' %>>Yes</option>
                            <option value="false" <%= !claim.billable ? 'selected' : '' %>>No</option>
                        </select>

                        <label for="isRenterAtFault">Is Renter At Fault:</label>
                        <select id="isRenterAtFault" name="isRenterAtFault">
                            <option value="true" <%= claim.isRenterAtFault ? 'selected' : '' %>>Yes</option>
                            <option value="false" <%= !claim.isRenterAtFault ? 'selected' : '' %>>No</option>
                        </select>

                        <label for="damageType">Damage Type:</label>
                        <div id="damageTypeContainer" class="checkbox-group">
                            <% damageTypes.forEach(type => { %>
                            <label>
                                <input type="checkbox" name="damageType" value="<%= type %>" <%= claim.damageType.includes(type) ? 'checked' : '' %>> <%= type %>
                            </label>
                            <% }) %>
                        </div>
                        <div class="dynamic-field-container">
                            <input type="text" id="newDamageType" placeholder="New Damage Type">
                            <button type="button" class="btn add-btn" onclick="addDamageType()">Add Damage Type</button>
                        </div>

                        <label for="status">Status:</label>
                        <select id="status" name="status">
                            <% statuses.forEach(status => { %>
                            <option value="<%= status %>" <%= claim.status === status ? 'selected' : '' %>><%= status %></option>
                            <% }) %>
                        </select>
                        <div class="dynamic-field-container">
                            <input type="text" id="newStatus" placeholder="New Status">
                            <button type="button" class="btn add-btn" onclick="addStatus()">Add Status</button>
                        </div>
                </div>

                <!-- Tab content for Insurance Information -->
                <div id="InsuranceInfo" class="tabcontent">
                    <div class="claim-info">
                        <label for="insuranceCarrier">Insurance Carrier:</label>
                        <input type="text" id="insuranceCarrier" name="insuranceCarrier" value="<%= claim.insuranceCarrier %>">

                        <label for="insuranceAdjuster">Insurance Adjuster:</label>
                        <input type="text" id="insuranceAdjuster" name="insuranceAdjuster" value="<%= claim.insuranceAdjuster %>">

                        <label for="insuranceEmail">Insurance Email:</label>
                        <input type="email" id="insuranceEmail" name="insuranceEmail" value="<%= claim.insuranceEmail %>">

                        <label for="insurancePhoneNumber">Insurance Phone Number:</label>
                        <input type="text" id="insurancePhoneNumber" name="insurancePhoneNumber" value="<%= claim.insurancePhoneNumber %>">

                        <label for="insuranceFaxNumber">Insurance Fax Number:</label>
                        <input type="text" id="insuranceFaxNumber" name="insuranceFaxNumber" value="<%= claim.insuranceFaxNumber %>">

                        <label for="insuranceAddress">Insurance Address:</label>
                        <input type="text" id="insuranceAddress" name="insuranceAddress" value="<%= claim.insuranceAddress %>">

                        <label for="insurancePolicyNumber">Insurance Policy Number:</label>
                        <input type="text" id="insurancePolicyNumber" name="insurancePolicyNumber" value="<%= claim.insurancePolicyNumber %>">

                        <label for="insuranceClaimNumber">Insurance Claim Number:</label>
                        <input type="text" id="insuranceClaimNumber" name="insuranceClaimNumber" value="<%= claim.insuranceClaimNumber %>">
                    </div>
                </div>

                <!-- Tab content for Third Party Information -->
                <div id="ThirdPartyInfo" class="tabcontent">
                    <div class="claim-info">
                        <label for="thirdPartyName">Third Party Name:</label>
                        <input type="text" id="thirdPartyName" name="thirdPartyName" value="<%= claim.thirdPartyName %>">

                        <label for="thirdPartyAddress">Third Party Address:</label>
                        <input type="text" id="thirdPartyAddress" name="thirdPartyAddress" value="<%= claim.thirdPartyAddress %>">

                        <label for="thirdPartyPhoneNumber">Third Party Phone Number:</label>
                        <input type="text" id="thirdPartyPhoneNumber" name="thirdPartyPhoneNumber" value="<%= claim.thirdPartyPhoneNumber %>">

                        <label for="thirdPartyInsuranceName">Third Party Insurance Name:</label>
                        <input type="text" id="thirdPartyInsuranceName" name="thirdPartyInsuranceName" value="<%= claim.thirdPartyInsuranceName %>">

                        <label for="thirdPartyAdjusterName">Third Party Adjuster Name:</label>
                        <input type="text" id="thirdPartyAdjusterName" name="thirdPartyAdjusterName" value="<%= claim.thirdPartyAdjusterName %>">

                        <label for="thirdPartyPolicyNumber">Third Party Policy Number:</label>
                        <input type="text" id="thirdPartyPolicyNumber" name="thirdPartyPolicyNumber" value="<%= claim.thirdPartyPolicyNumber %>">

                        <label for="thirdPartyClaimNumber">Third Party Claim Number:</label>
                        <input type="text" id="thirdPartyClaimNumber" name="thirdPartyClaimNumber" value="<%= claim.thirdPartyClaimNumber %>">
                    </div>
                </div>

                <!-- Tab content for Rental & Police Information -->
                <div id="RentalPoliceInfo" class="tabcontent">
                    <div class="claim-info">
                        <label for="rentingLocation">Renting Location:</label>
                        <select id="rentingLocation" name="rentingLocation">
                            <% rentingLocations.forEach(location => { %>
                            <option value="<%= location %>" <%= claim.rentingLocation === location ? 'selected' : '' %>><%= location %></option>
                            <% }) %>
                        </select>
                        <div class="dynamic-field-container">
                            <input type="text" id="newLocation" placeholder="New Location">
                            <button type="button" class="btn add-btn" onclick="addLocation()">Add Location</button>
                        </div>

                        <label for="policeDepartment">Police Department:</label>
                        <input type="text" id="policeDepartment" name="policeDepartment" value="<%= claim.policeDepartment %>">

                        <label for="policeReportNumber">Police Report Number:</label>
                        <input type="text" id="policeReportNumber" name="policeReportNumber" value="<%= claim.policeReportNumber %>">

                        <label for="claimCloseDate">Claim Close Date:</label>
                        <input type="date" id="claimCloseDate" name="claimCloseDate" value="<%= claim.claimCloseDate ? new Date(claim.claimCloseDate).toISOString().split('T')[0] : '' %>">
                    </div>
                </div>

                <!-- Tab content for Additional Coverage -->
                <div id="AdditionalCoverage" class="tabcontent">
                    <div class="claim-info">
                        <label for="rentersLiabilityInsurance">Was Renters Liability Insurance purchased?</label>
                        <select id="rentersLiabilityInsurance" name="rentersLiabilityInsurance">
                            <option value="yes" <%= claim.rentersLiabilityInsurance === 'yes' ? 'selected' : '' %>>Yes</option>
                            <option value="no" <%= claim.rentersLiabilityInsurance === 'no' ? 'selected' : '' %>>No</option>
                        </select>

                        <label for="lossDamageWaiver">Was Loss Damage Waiver purchased?</label>
                        <select id="lossDamageWaiver" name="lossDamageWaiver">
                            <option value="yes" <%= claim.lossDamageWaiver === 'yes' ? 'selected' : '' %>>Yes</option>
                            <option value="no" <%= claim.lossDamageWaiver === 'no' ? 'selected' : '' %>>No</option>
                        </select>
                    </div>
                </div>

                <!-- Tab content for File Uploads -->
                <div id="FileUploads" class="tabcontent">
                    <div class="file-section">
                        <h3>Incident Reports</h3>
                        <input type="file" id="incidentReports" name="incidentReports" multiple>
                    </div>
                    <div class="file-section">
                        <h3>Correspondence</h3>
                        <input type="file" id="correspondence" name="correspondence" multiple>
                    </div>
                    <div class="file-section">
                        <h3>Rental Agreement</h3>
                        <input type="file" id="rentalAgreement" name="rentalAgreement" multiple>
                    </div>
                    <div class="file-section">
                        <h3>Police Report</h3>
                        <input type="file" id="policeReport" name="policeReport" multiple>
                    </div>
                    <div class="file-section">
                        <h3>Invoices</h3>
                        <input type="file" id="invoices" name="invoices" multiple>
                    </div>
                    <div class="file-section">
                        <h3>Photos</h3>
                        <input type="file" id="photos" name="photos" multiple>
                    </div>
                </div>

                <!-- Form submission buttons -->
                <div class="button-group">
                    <button type="submit" class="btn">Update Claim</button>
                    <a href="/claims/<%= claim._id %>" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </main>

    <script>
        // Function to open a specific tab
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Set the default tab to be open
        document.getElementById("defaultOpen").click();

        // Existing dynamic addition functions
        async function addStatus() {
            const status = document.getElementById('newStatus').value;
            if (status) {
                const response = await fetch('/claims/statuses', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ status })
                });

                if (response.ok) {
                    const option = document.createElement('option');
                    option.value = status;
                    option.textContent = status;
                    document.getElementById('status').appendChild(option);
                    document.getElementById('newStatus').value = '';
                }
            }
        }

        async function addDamageType() {
            const damageType = document.getElementById('newDamageType').value;
            if (damageType) {
                const response = await fetch('/claims/damage                    Types', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ damageType })
                    });

                    if (response.ok) {
                        const container = document.querySelector('#damageTypeContainer');
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.name = 'damageType';
                        checkbox.value = damageType;

                        const label = document.createElement('label');
                        label.appendChild(checkbox);
                        label.appendChild(document.createTextNode(' ' + damageType));

                        container.appendChild(label);

                        document.getElementById('newDamageType').value = '';
                    }
                }
            }

            async function addLocation() {
                const location = document.getElementById('newLocation').value;
                if (location) {
                    const response = await fetch('/claims/locations', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ location })
                    });

                    if (response.ok) {
                        const option = document.createElement('option');
                        option.value = location;
                        option.textContent = location;
                        document.getElementById('rentingLocation').appendChild(option);
                        document.getElementById('newLocation').value = '';
                    }
                }
            }
    </script>
</body>
</html>


